name: lint

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions: {}

env:
  FORCE_COLOR: 3
  # renovate: datasource=github-releases depName=powershell-yaml packageName=cloudbase/powershell-yaml
  POWERSHELL_YAML_VERSION: '0.4.12'
  # renovate: datasource=github-releases depName=PSScriptAnalyzer packageName=PowerShell/PSScriptAnalyzer
  PSSCRIPTANALYZER_VERSION: '1.24.0'
  TERM: xterm
  # renovate: datasource=github-releases depName=zizmor packageName=zizmorcore/zizmor
  ZIZMOR_VERSION: '1.21.0'

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Add actionlint problem matcher
      run: echo "::add-matcher::.github/actionlint-matcher.json"

    - name: Lint workflows with actionlint
      uses: docker://rhysd/actionlint:1.7.10@sha256:ef8299f97635c4c30e2298f48f30763ab782a4ad2c95b744649439a039421e36
      with:
        args: -color

    - name: Lint workflows with zizmor
      uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
      with:
        persona: pedantic
        version: ${{ env.ZIZMOR_VERSION }}

    - name: Lint markdown
      uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
      with:
        config: '.markdownlint.json'
        globs: |
          **/*.md

    - name: Lint self
      uses: ./
      with:
        annotations-title: 'PSScriptAnalyzer'
        powershell-yaml-version: ${{ env.POWERSHELL_YAML_VERSION }}
        psscriptanalyzer-version: ${{ env.PSSCRIPTANALYZER_VERSION }}
        settings-path: 'ScriptAnalyzerProfile.ps1'
        treat-warnings-as-errors: true
